

.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }

  .banner {
    margin-top: 40px;
    margin-left: 220px;
    /* margin-bottom: 25px; */
  }

/* header style */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #C6E4D6;
    border-radius: 15px;
    margin: 15px 200px;
    padding: 0 20px 0 40px;
}

.btn {
    background-color: #006A50;
    font-weight: 600px;
    color: white;
    padding: 12px 25px;
    font-size: 10px;
    border-radius: 7px;
    border: none;
}
.title {
    color: slategrey;
}

.image {
    margin-top: 50px;
    margin-bottom: 70px;
    margin-right: 50px;
}

/* Tech box style */
.tech {
    margin: 40px 200px;
    background-color: honeydew;
    border-radius: 15px;
    padding: 15px 70px;
}
.tech-box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.box {
    margin: 45px;
}
.section-title {
    font-size: 40px;
    font-weight: 700;
}

.section-info {
    font-size: 16px;
    font-weight: 400;  
}
.digital {
    background-color: #81B4FC;
    border-radius: 15px;
    padding: 32px 32px;
}

.green {
    background-color: #C6E4D6;
    border-radius: 15px;
    padding: 32px 32px;   
}

.modern {
    background-color: #F7EBCF;
    border-radius: 15px;
    padding: 32px 32px;
}
.btn-digital {
    background-color: #5490F5;
    font-size: 12px;
    font-weight: bold;
    border-radius: 7px;
    color: white;
    padding: 10px 25px;
    border: none;
}
.btn-green{
    background-color: #09A15C;
    font-size: 12px;
    font-weight: bold;
    border-radius: 7px;
    color: white;
    padding: 10px 25px;
    border: none;
}
.btn-modern {
    background-color: #FFC239;
    font-size: 12px;
    font-weight: bold;
    border-radius: 7px;
    color: white;
    padding: 10px 25px;
    border: none;
}
/* Recent News */
.news{
    background-color: #FFFFFF;
    margin: 70px 200px;
    /* border-radius: 15px; */
    padding-left: 15px;
    padding-right: 45px;
}
.Head-line{
    font-size: 40px;
    font-weight: bold;
}
.Head-info {
    font-size: 16px;
    font-weight: 400;
}
.recent-news{
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 20px;
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: space-between;
    align-content: center;
}
.btn-one{
    background-color: #09A15C;
    font-size: 12px;
    font-weight: bold;
    border-radius: 7px;
    color: white;
    padding: 10px 25px;
    border: none;  
 }
 .jazeera-para {
    font-size: 16px;
    font-weight: 400;
 }
 .jazeera-time{
    margin-top: 20px;
 }